*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:Poppins, sans-serif;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  background:#000;
  padding:10px;
  text-align:center;
  z-index:1000;
}

nav a{
  color:#fff;
  margin:0 10px;
  text-decoration:none;
  font-size:14px;
}

section{
  min-height:100vh;
  padding:100px 40px;
  text-align:center;
}

.hero{
  background:#a9cfc9;
}

.script{
  font-family:'Playfair Display', cursive;
  font-size:32px;
}

.title{
  font-family:Anton, sans-serif;
  font-size:120px;
}

.circle-img{
  width:300px;
  height:300px;
  border-radius:50%;
  object-fit:cover;
  margin-top:20px;
}

.green{color:#4f6b3a;}

.name{
  font-family:'Great Vibes', cursive;
  font-size:60px;
}

.role{
  font-family:'Cinzel', serif;
}

.purple{
  background:#8f7b92;
  color:#fff;
}

.project-title{
  font-family:'Great Vibes', cursive;
  font-size:80px;
}

.yellow{background:linear-gradient(to right,#ffd36a,#ffb347);}
.blue{background:linear-gradient(to right,#4facfe,#00f2fe);}

.contact{
  background:#e3c067;
}

.contact a{
  color:#000;
  text-decoration:none;
  font-weight:bold;
}

.linkedin{
  display:inline-block;
  margin-top:20px;
  background:#0a66c2;
  color:#fff;
  padding:10px 20px;
  border-radius:8px;
}
